<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>role_1</key>
	<dict>
		<key>sprite</key>
		<string></string>
		<key>animation</key>
		<string></string>
	</dict>
	<key>role_2</key>
	<dict>
		<key>sprite</key>
		<string></string>
		<key>animation</key>
		<string></string>
	</dict>
	<key>role_3</key>
	<dict>
		<key>sprite</key>
		<string></string>
		<key>animation</key>
		<string></string>
	</dict>
	<key>map_1</key>
	<dict>
		<key>1</key>
		<string>map_AiJi_1.png</string>
		<key>2</key>
		<string>map_AiJi_2.png</string>
		<key>3</key>
		<string>map_AiJi_3.png</string>
		<key>4</key>
		<string>map_AiJi_4.png</string>
		<key>5</key>
		<string>map_AiJi_5.png</string>
		<key>6</key>
		<string>map_AiJi_6.png</string>
	</dict>
	<key>map_2</key>
	<dict>
		<key>1</key>
		<string>map_AiJi_1.png</string>
		<key>2</key>
		<string>map_AiJi_2.png</string>
		<key>3</key>
		<string>map_AiJi_3.png</string>
		<key>4</key>
		<string>map_AiJi_4.png</string>
		<key>5</key>
		<string>map_AiJi_5.png</string>
		<key>6</key>
		<string>map_AiJi_6.png</string>
	</dict>
	<key>map_3</key>
	<dict>
		<key>1</key>
		<string>map_AiJi_1.png</string>
		<key>2</key>
		<string>map_AiJi_2.png</string>
		<key>3</key>
		<string>map_AiJi_3.png</string>
		<key>4</key>
		<string>map_AiJi_4.png</string>
		<key>5</key>
		<string>map_AiJi_5.png</string>
		<key>6</key>
		<string>map_AiJi_6.png</string>
	</dict>
	<key></key>
	<string></string>
</dict>
</plist>
