<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>achievement.png</key>
		<dict>
			<key>x</key>
			<real>266</real>
			<key>y</key>
			<real>135</real>
			<key>width</key>
			<real>49</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>49</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>back.png</key>
		<dict>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>95</real>
			<key>width</key>
			<real>41</real>
			<key>height</key>
			<real>39</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>41</real>
			<key>originalHeight</key>
			<real>39</real>
		</dict>
		
		<key>back_to_menu.png</key>
		<dict>
			<key>x</key>
			<real>372</real>
			<key>y</key>
			<real>165</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>continue.png</key>
		<dict>
			<key>x</key>
			<real>320</real>
			<key>y</key>
			<real>135</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>craker.png</key>
		<dict>
			<key>x</key>
			<real>417</real>
			<key>y</key>
			<real>57</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>50</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>facebook.png</key>
		<dict>
			<key>x</key>
			<real>217</real>
			<key>y</key>
			<real>195</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>37</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
		<key>flower.png</key>
		<dict>
			<key>x</key>
			<real>179</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>85</real>
			<key>height</key>
			<real>85</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>85</real>
			<key>originalHeight</key>
			<real>85</real>
		</dict>
		
		<key>fuhuobi.png</key>
		<dict>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>81</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>50</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>help.png</key>
		<dict>
			<key>x</key>
			<real>165</real>
			<key>y</key>
			<real>149</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>hero.png</key>
		<dict>
			<key>x</key>
			<real>165</real>
			<key>y</key>
			<real>95</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>50</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>information.png</key>
		<dict>
			<key>x</key>
			<real>265</real>
			<key>y</key>
			<real>189</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>37</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
		<key>left.png</key>
		<dict>
			<key>x</key>
			<real>220</real>
			<key>y</key>
			<real>139</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>51</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>51</real>
		</dict>
		
		<key>left_background.png</key>
		<dict>
			<key>x</key>
			<real>343</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>69</real>
			<key>height</key>
			<real>71</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>69</real>
			<key>originalHeight</key>
			<real>71</real>
		</dict>
		
		<key>left_down.png</key>
		<dict>
			<key>x</key>
			<real>91</real>
			<key>y</key>
			<real>79</real>
			<key>width</key>
			<real>69</real>
			<key>height</key>
			<real>71</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>69</real>
			<key>originalHeight</key>
			<real>71</real>
		</dict>
		
		<key>lock.png</key>
		<dict>
			<key>x</key>
			<real>5</real>
			<key>y</key>
			<real>79</real>
			<key>width</key>
			<real>81</real>
			<key>height</key>
			<real>31</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>81</real>
			<key>originalHeight</key>
			<real>31</real>
		</dict>
		
		<key>map.png</key>
		<dict>
			<key>x</key>
			<real>269</real>
			<key>y</key>
			<real>81</real>
			<key>width</key>
			<real>50</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>50</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>market.png</key>
		<dict>
			<key>x</key>
			<real>417</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>55</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>55</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>pause_icon.png</key>
		<dict>
			<key>x</key>
			<real>477</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>22</real>
			<key>height</key>
			<real>22</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>22</real>
			<key>originalHeight</key>
			<real>22</real>
		</dict>
		
		<key>play.png</key>
		<dict>
			<key>x</key>
			<real>5</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>169</real>
			<key>height</key>
			<real>69</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<real>169</real>
			<key>originalHeight</key>
			<real>71</real>
		</dict>
		
		<key>resume.png</key>
		<dict>
			<key>x</key>
			<real>79</real>
			<key>y</key>
			<real>155</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>right.png</key>
		<dict>
			<key>x</key>
			<real>320</real>
			<key>y</key>
			<real>187</real>
			<key>width</key>
			<real>40</real>
			<key>height</key>
			<real>51</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>40</real>
			<key>originalHeight</key>
			<real>51</real>
		</dict>
		
		<key>right_background.png</key>
		<dict>
			<key>x</key>
			<real>269</real>
			<key>y</key>
			<real>5</real>
			<key>width</key>
			<real>69</real>
			<key>height</key>
			<real>71</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>69</real>
			<key>originalHeight</key>
			<real>71</real>
		</dict>
		
		<key>right_down.png</key>
		<dict>
			<key>x</key>
			<real>5</real>
			<key>y</key>
			<real>115</real>
			<key>width</key>
			<real>69</real>
			<key>height</key>
			<real>71</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>69</real>
			<key>originalHeight</key>
			<real>71</real>
		</dict>
		
		<key>setting.png</key>
		<dict>
			<key>x</key>
			<real>433</real>
			<key>y</key>
			<real>111</real>
			<key>width</key>
			<real>49</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>49</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>share.png</key>
		<dict>
			<key>x</key>
			<real>379</real>
			<key>y</key>
			<real>111</real>
			<key>width</key>
			<real>49</real>
			<key>height</key>
			<real>49</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>49</real>
			<key>originalHeight</key>
			<real>49</real>
		</dict>
		
		<key>sound.png</key>
		<dict>
			<key>x</key>
			<real>5</real>
			<key>y</key>
			<real>191</real>
			<key>width</key>
			<real>47</real>
			<key>height</key>
			<real>47</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>47</real>
			<key>originalHeight</key>
			<real>47</real>
		</dict>
		
		<key>sound_start.png</key>
		<dict>
			<key>x</key>
			<real>173</real>
			<key>y</key>
			<real>201</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>37</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
		<key>sound_start2.png</key>
		<dict>
			<key>x</key>
			<real>131</real>
			<key>y</key>
			<real>201</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>37</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
		<key>twitter.png</key>
		<dict>
			<key>x</key>
			<real>57</real>
			<key>y</key>
			<real>207</real>
			<key>width</key>
			<real>37</real>
			<key>height</key>
			<real>78</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>37</real>
			<key>originalHeight</key>
			<real>78</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
</dict>
</plist>